// _responsive.scss
 
/*반응형 화면 크기*/
$mobile: 600px;
$tablet: 1024px;
$desktop: 1440px;
 
// 크기가 tablet 이하
@mixin mobile{
      @media (max-width: $mobile){
            @content;
      }
}
// 크기가 tablet+1 이상, desktop 이하
@mixin tablet{
      @media (min-width: ($mobile + 1)) and (max-width: $tablet){
            @content;
      }
}
@mixin desktop{
      @media (min-width: ($tablet+ 1)) and (max-width: $desktop){
            @content;
      }
}
// 크기가 desktop 이상
@mixin big-desktop{
      @media (min-width: ($desktop+1)){
            @content;
      }
}