@charset "UTF-8";
/*반응형 화면 크기*/
/* COMMON */
* {
  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section .inner {
  z-index: 1;
  width: 930px;
  padding: 40px 60px;
}
@media (max-width: 600px) {
  .section .inner {
    width: calc(100% - 90px);
    padding: 20px 30px;
  }
}

/* BACKGROUND */
#background {
  opacity: 0.5;
}
#background img {
  position: absolute;
  width: 550px;
  right: -40px;
  top: 190px;
}
@media (max-width: 600px) {
  #background {
    display: none;
  }
}

/* PAGE-TOP */
.page-top {
  align-items: flex-end;
  width: 100%;
  height: 300px;
  line-height: 100%;
  margin-bottom: 50px;
}
@media (max-width: 600px) {
  .page-top {
    height: 100px;
    margin-bottom: 0;
  }
}
.page-top .inner {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
}
.page-top .inner .txt1 {
  font-size: 1em;
  letter-spacing: 0.125em;
  margin-bottom: 30px;
}
.page-top .inner .txt2 {
  font-size: 2.7em;
  letter-spacing: 0.13em;
}
.page-top .inner .txt2 span {
  margin-left: 25px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 0.4em;
  letter-spacing: 0.125em;
}
@media (max-width: 600px) {
  .page-top .inner .txt1 {
    font-size: 0.5em;
    margin-bottom: 15px;
  }
  .page-top .inner .txt2 {
    font-size: 2em;
  }
  .page-top .inner .txt2 span {
    display: none;
  }
}

/* MEMBER-LIST */
.member-list .inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.member-list .inner .card {
  background-color: #fff;
  filter: drop-shadow(5px 6px 17px rgba(206, 192, 192, 0.25));
}
.member-list .inner .card .img-body {
  height: 240px;
  position: relative;
}
.member-list .inner .card .img-body img {
  width: 100%;
  height: 240px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}
.member-list .inner .card .img-body img:hover {
  opacity: 0;
}
.member-list .inner .card .body {
  padding: 25px;
}
.member-list .inner .card .body .title {
  font-weight: 700;
  font-size: 1.1em;
}
.member-list .inner .card .body .title span {
  font-family: "Montserrat";
}
.member-list .inner .card .body .text {
  margin-top: 10px;
  font-family: "Pretendard";
  font-weight: 300;
  font-size: 0.7em;
  letter-spacing: 0.3em;
}
.member-list .inner .card .body .profile {
  display: flex;
  margin: 25px 0 10px 0;
  align-items: center;
  font-size: 1em;
  color: #000000;
}
.member-list .inner .card .body .profile img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.member-list .inner .card .body .profile span {
  font-weight: 300;
  margin-left: 10px;
}
.member-list .inner .card .body .profile span b {
  font-weight: 700;
}
@media (min-width: 601px) and (max-width: 1024px) {
  .member-list .inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .member-list .inner {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .member-list .inner .card {
    background-color: #fff;
    filter: drop-shadow(5px 6px 17px rgba(206, 192, 192, 0.25));
  }
  .member-list .inner .card .img-body {
    height: 120px;
    position: relative;
  }
  .member-list .inner .card .img-body img {
    width: 100%;
    height: 120px;
  }
  .member-list .inner .card .body {
    position: relative;
    height: 60px;
    padding: 10px;
  }
  .member-list .inner .card .body .title {
    font-size: 0.9em;
    font-weight: 700;
  }
  .member-list .inner .card .body .text {
    display: none;
  }
  .member-list .inner .card .body .profile {
    position: absolute;
    bottom: 10px;
    margin: 10px 0 0;
    font-size: 1em;
  }
  .member-list .inner .card .body .profile img {
    width: 20px;
    height: 20px;
  }
  .member-list .inner .card .body .profile span {
    margin-left: 10px;
    font-size: 12px;
  }
}

/* FOOTER */
footer {
  margin-top: 130px;
}
@media (max-width: 600px) {
  footer {
    margin-top: 50px;
  }
}/*# sourceMappingURL=designers.css.map */