@charset "UTF-8";
/*반응형 화면 크기*/
/* COMMON */
* {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section .inner {
  z-index: 1;
  width: 930px;
  padding: 40px 60px;
}
@media (max-width: 600px) {
  .section .inner {
    width: calc(100% - 90px);
    padding: 20px 30px;
  }
}

.distort {
  transition: transform 0.25s;
  will-change: transform;
}

/* PAGE-TOP */
.page-top {
  align-items: flex-end;
  width: 100%;
  height: 300px;
  line-height: 100%;
  margin-bottom: 50px;
}
@media (max-width: 600px) {
  .page-top {
    height: 100px;
    margin-bottom: 0;
  }
}
.page-top .inner {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
}
.page-top .inner .txt1 {
  font-size: 1em;
  letter-spacing: 0.125em;
  margin-bottom: 30px;
}
.page-top .inner .txt2 {
  font-size: 2.7em;
  letter-spacing: 0.13em;
}
.page-top .inner .txt2 span {
  margin-left: 25px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 0.4em;
  letter-spacing: 0.125em;
}
@media (max-width: 600px) {
  .page-top .inner .txt1 {
    font-size: 0.5em;
    margin-bottom: 15px;
  }
  .page-top .inner .txt2 {
    font-size: 2em;
  }
  .page-top .inner .txt2 span {
    display: none;
  }
}

/* PROFILE */
.profile .inner {
  display: flex;
}
.profile .inner .profile_img > img {
  width: 297px;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile .inner .profile_cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.profile .inner .profile_cont .profile_txt {
  align-self: flex-end;
  margin-left: 30px;
}
.profile .inner .profile_cont .profile_txt .sns {
  margin-bottom: 30px;
}
.profile .inner .profile_cont .profile_txt .sns img {
  width: 13px;
  height: 13px;
}
.profile .inner .profile_cont .profile_txt .sns span {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 2vh;
  text-decoration-line: underline;
  margin-left: 10px;
}
.profile .inner .profile_cont .profile_txt .name, .profile .inner .profile_cont .profile_txt .name_en, .profile .inner .profile_cont .profile_txt .email {
  margin-bottom: 10px;
}
.profile .inner .profile_cont .profile_txt .name {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.12em;
}
.profile .inner .profile_cont .profile_txt .name_en {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.05em;
}
.profile .inner .profile_cont .profile_txt .email {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #B9B9B9;
}
.profile .inner .profile_cont .teamlink {
  align-self: start;
  justify-self: end;
}
.profile .inner .profile_cont .teamlink img {
  width: 180px;
  height: 40px;
}
@media (max-width: 600px) {
  .profile .inner .profile_img > img {
    width: 150px;
    height: 220px;
  }
  .profile .inner .profile_cont {
    flex-direction: column-reverse;
    margin-left: 20px;
  }
  .profile .inner .profile_cont .profile_txt {
    margin-left: 0;
    align-self: flex-start;
  }
  .profile .inner .profile_cont .profile_txt .sns {
    margin-bottom: 15px;
  }
  .profile .inner .profile_cont .profile_txt .sns img {
    width: 8px;
    height: 8px;
  }
  .profile .inner .profile_cont .profile_txt .sns span {
    font-size: 12px;
    margin-left: 2px;
  }
  .profile .inner .profile_cont .profile_txt .name, .profile .inner .profile_cont .profile_txt .name_en, .profile .inner .profile_cont .profile_txt .email {
    margin-bottom: 5px;
  }
  .profile .inner .profile_cont .profile_txt .name {
    font-size: 16px;
  }
  .profile .inner .profile_cont .profile_txt .name_en {
    font-size: 12px;
  }
  .profile .inner .profile_cont .profile_txt .email {
    font-size: 10px;
  }
  .profile .inner .profile_cont .teamlink {
    align-self: start;
    justify-self: end;
  }
  .profile .inner .profile_cont .teamlink img {
    width: 125px;
    height: 30px;
  }
}

/*  CONCEPT */
.concept .inner .sub-title {
  width: 274px;
  height: 25px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: -0.12em;
  margin-top: 100px;
}
.concept .inner .title {
  position: relative;
  height: 60px;
  margin-top: 15px;
  font-family: "Pretendard";
  font-weight: 900;
  font-size: 3.8em;
}
.concept .inner .title img {
  position: absolute;
  width: 830px;
  top: -32px;
  left: -156px;
}
@media (max-width: 600px) {
  .concept .inner .title img {
    display: none;
  }
}
.concept .inner .title_e {
  position: relative;
  height: 60px;
  margin-top: 15px;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.8em;
}
.concept .inner .title_e img {
  position: absolute;
  width: 830px;
  top: -32px;
  left: -156px;
}
@media (max-width: 600px) {
  .concept .inner .title_e img {
    display: none;
  }
}
.concept .inner .desc {
  margin-top: 65px;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.1em;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: justify;
}
@media (min-width: 601px) and (max-width: 1024px) {
  .concept .inner .title {
    font-size: 50px;
  }
}
@media (max-width: 600px) {
  .concept .inner .sub-title {
    font-size: 15px;
    margin-top: 50px;
  }
  .concept .inner .title {
    font-size: 40px;
    margin-top: 0px;
    height: 100px;
  }
  .concept .inner .desc {
    font-size: 14px;
    margin-top: 180px;
  }
}

/* POSTER */
.poster {
  margin-top: 170px;
  height: 600px;
}
.poster .inner {
  display: flex;
  justify-content: space-between;
}
.poster .inner .txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.poster .inner .txt .title {
  position: relative;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.8em;
  letter-spacing: -0.12em;
}
.poster .inner .txt .title img {
  position: absolute;
  width: 755px;
  top: 30px;
  left: -110px;
}
@media (max-width: 600px) {
  .poster .inner .txt .title img {
    display: none;
  }
}
.poster .inner .txt .sub-title {
  width: 58px;
  height: 36px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: -0.12em;
}
.poster .inner .txt .desc div:nth-child(1) {
  margin-top: 50%;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: -0.12em;
  color: #8F8F8F;
}
.poster .inner .txt .desc div:nth-child(2) {
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 20px;
  margin-top: 5px;
}
.poster .inner .txt .desc div:nth-child(3) {
  width: 500px;
  margin-bottom: 0px;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.1em;
  line-height: 160%;
  text-align: justify;
}
.poster .inner .img {
  align-self: end;
}
.poster .inner .img img {
  width: 346px;
  height: 493px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 601px) and (max-width: 1024px) {
  .poster .inner .txt .desc div:nth-child(3) {
    width: 50vw;
  }
  .poster .inner .img img {
    width: 230.6666666667px;
    height: 328.6666666667px;
  }
}
@media (max-width: 600px) {
  .poster {
    margin-top: 80px;
  }
  .poster .inner {
    flex-direction: column;
    gap: 10px;
  }
  .poster .inner .txt {
    align-items: start;
  }
  .poster .inner .txt .title {
    font-size: 45px;
  }
  .poster .inner .txt .sub-title {
    font-size: 10px;
  }
  .poster .inner .txt .desc div:nth-child(1) {
    margin-top: 30px;
  }
  .poster .inner .txt .desc div:nth-child(2) {
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .poster .inner .txt .desc div:nth-child(3) {
    width: 100%;
    font-size: 14px;
    line-height: 130%;
  }
  .poster .inner .img {
    align-self: center;
    margin-top: 30px;
  }
  .poster .inner .img img {
    width: 230.6666666667px;
    height: 328.6666666667px;
  }
}

/* INTER */
.inter {
  margin-top: 170px;
}
.inter .inner .top {
  height: 800px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.inter .inner .top .txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inter .inner .top .txt .title {
  position: relative;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.8em;
  letter-spacing: -0.12em;
}
.inter .inner .top .txt .title img {
  position: absolute;
  width: 646px;
  top: 30px;
  left: 690px;
}
@media (min-width: 601px) and (max-width: 1024px) {
  .inter .inner .top .txt .title img {
    display: none;
  }
}
@media (max-width: 600px) {
  .inter .inner .top .txt .title img {
    display: none;
  }
}
.inter .inner .top .txt .sub-title {
  width: 58px;
  height: 36px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: -0.12em;
}
.inter .inner .top .txt .desc div:nth-child(1) {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: -0.12em;
  color: #8F8F8F;
}
.inter .inner .top .txt .desc div:nth-child(2) {
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 20px;
  margin-top: 5px;
}
.inter .inner .top .txt .desc div:nth-child(2) span {
  font-family: "Montserrat";
}
.inter .inner .top .txt .desc div:nth-child(3) {
  width: 480px;
  margin-bottom: 0px;
  font-family: "Pretendard";
  font-weight: 400;
  font-size: 1.1em;
  line-height: 160%;
  text-align: justify;
}
.inter .inner .top .txt .desc .view-map {
  margin-top: 20px;
  width: 480px;
  overflow: auto;
  display: flex;
  gap: 13px;
}
.inter .inner .top .txt .desc .view-map img {
  width: 293px;
  height: 173px;
}
.inter .inner .top .btn-modal__open {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 240px;
  left: 420px;
}
.inter .inner .top .btn-modal__open img {
  filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.09));
}
.inter .inner .top .img {
  align-self: end;
}
.inter .inner .top .img img {
  width: 410px;
  height: 583px;
  -o-object-fit: cover;
     object-fit: cover;
}
.inter .inner .top .img:hover {
  z-index: 9;
}
.inter .inner .top .img:hover img {
  animation: scoll 5s infinite ease-in-out;
}
@keyframes scoll {
  0% {
    -o-object-position: 20%;
       object-position: 20%;
  }
  50% {
    -o-object-position: 80%;
       object-position: 80%;
  }
  100% {
    -o-object-position: 20%;
       object-position: 20%;
  }
}
.inter .inner .examples {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.inter .inner .examples .example {
  width: 293px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.inter .inner .examples .example img {
  width: 293px;
  height: 173px;
}
.inter .inner .examples .example p {
  width: 293px;
}
@media (min-width: 601px) and (max-width: 1024px) {
  .inter {
    margin-top: 80px;
  }
  .inter .inner .top {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    gap: 20px;
  }
  .inter .inner .top .txt {
    align-items: start;
    justify-content: flex-start;
  }
  .inter .inner .top .txt .title {
    font-size: 45px;
  }
  .inter .inner .top .txt .sub-title {
    font-size: 10px;
  }
  .inter .inner .top .txt .desc {
    width: 100%;
  }
  .inter .inner .top .txt .desc div {
    width: 100%;
  }
  .inter .inner .top .txt .desc div:nth-child(1) {
    margin-top: 30px;
  }
  .inter .inner .top .txt .desc div:nth-child(2) {
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .inter .inner .top .txt .desc div:nth-child(3) {
    width: 100%;
    font-size: 14px;
    line-height: 130%;
  }
  .inter .inner .top .txt .desc .view-map {
    width: 100%;
  }
  .inter .inner .top .txt .desc .view-map img {
    width: 200px;
  }
  .inter .inner .top .btn-modal__open {
    z-index: 10;
    cursor: pointer;
    position: absolute;
    top: 680px;
    left: calc(100vw - 200px);
  }
  .inter .inner .top .btn-modal__open img {
    width: 100px;
  }
  .inter .inner .top .img {
    width: 100%;
    align-self: start;
  }
  .inter .inner .top .img img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .inter .inner .top .img p {
    width: 100%;
  }
  .inter .inner .examples {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    overflow: scroll;
  }
  .inter .inner .examples .example {
    width: 33.3333333333%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }
  .inter .inner .examples .example img {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  .inter .inner .examples .example p {
    width: 100%;
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .inter {
    margin-top: 80px;
  }
  .inter .inner .top {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    gap: 20px;
  }
  .inter .inner .top .txt {
    align-items: start;
    justify-content: flex-start;
  }
  .inter .inner .top .txt .title {
    font-size: 45px;
  }
  .inter .inner .top .txt .sub-title {
    font-size: 10px;
  }
  .inter .inner .top .txt .desc {
    width: 100%;
  }
  .inter .inner .top .txt .desc div {
    width: 100%;
  }
  .inter .inner .top .txt .desc div:nth-child(1) {
    margin-top: 30px;
  }
  .inter .inner .top .txt .desc div:nth-child(2) {
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .inter .inner .top .txt .desc div:nth-child(3) {
    width: 100%;
    font-size: 14px;
    line-height: 130%;
  }
  .inter .inner .top .txt .desc .view-map {
    width: 100%;
    height: 100%;
  }
  .inter .inner .top .txt .desc .view-map img {
    width: calc(50% - 10px);
    height: calc(50% - 10px);
  }
  .inter .inner .top .btn-modal__open {
    z-index: 10;
    cursor: pointer;
    position: absolute;
    top: 680px;
    left: calc(100% - 80px);
  }
  .inter .inner .top .btn-modal__open img {
    width: 100px;
  }
  .inter .inner .top .img {
    align-self: start;
  }
  .inter .inner .top .img img {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .inter .inner .examples {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    overflow: scroll;
  }
  .inter .inner .examples .example {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .inter .inner .examples .example img {
    width: 162.7777777778px;
    height: 96.1111111111px;
  }
  .inter .inner .examples .example p {
    width: 162.7777777778px;
    font-size: 12px;
  }
}

/* INTER-MODAL */
.modal-cont {
  display: none;
  z-index: 999;
  background: rgba(34, 31, 31, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal-cont .modal-inner {
  width: 825px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-cont .modal-inner iframe {
  width: 825px;
  height: 450px;
}
.modal-cont .btn-modal__close {
  cursor: pointer;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (max-width: 600px) {
  .modal-cont {
    width: 100%;
    height: 100%;
  }
  .modal-cont .modal-inner {
    width: 100%;
    position: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-cont .modal-inner iframe {
    width: 80%;
  }
  .modal-cont .btn-modal__close {
    top: 70%;
    height: 40px;
  }
}

/* BTM-NAVI */
.btm-navi {
  margin-top: 100px;
}
.btm-navi .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
}
.btm-navi .inner .prev img, .btm-navi .inner .next img {
  height: 76px;
}
@media (max-width: 600px) {
  .btm-navi .inner {
    gap: 20px;
  }
  .btm-navi .inner .prev img, .btm-navi .inner .next img {
    height: 40px;
  }
}

/* FOOTER */
footer {
  margin-top: 120px;
}
@media (max-width: 600px) {
  footer {
    margin-top: 50px;
  }
}/*# sourceMappingURL=designer_detail.css.map */