@charset "UTF-8";
@import "responsive";

/* COMMON */
* {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
    color: #000;
}
.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  .inner {
    z-index: 1;
    width: 930px;
    padding: 40px 60px;
    @include mobile { 
      width: calc(100% - 90px);
      padding: 20px 30px;
    }
  }
}
.distort {
  transition: transform 0.25s;
  will-change: transform;
}

/* PAGE-TOP */
.page-top{
  align-items: flex-end;
	width: 100%;
	height: 300px;
  line-height: 100%;
  margin-bottom: 50px;
  @include mobile {
    height: 100px;
    margin-bottom: 0;
  }
  .inner {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    .txt1 {
      font-size: 1em;
      letter-spacing: 0.125em;
      margin-bottom: 30px;
    }
    .txt2 {
      font-size: 2.7em;
      letter-spacing: 0.13em;
      span {
        margin-left: 25px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 0.4em;
        letter-spacing: 0.125em;
      }
    }
    @include mobile {
      .txt1 {font-size: 0.5em; margin-bottom: 15px;}
      .txt2 {
        font-size: 2em;
        span {display: none;}
      }
    }
  }
}

/* PROFILE */
.profile {
	.inner {
    display: flex;
    .profile_img > img {
      width: 297px;
      height: 420px;
      object-fit: cover;
    }
    .profile_cont {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .profile_txt {
        align-self: flex-end;
        margin-left: 30px;
        .sns {
          margin-bottom: 30px;
          img {
            width: 13px;
            height: 13px;
          }
          span {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 2vh;
            text-decoration-line: underline;
            margin-left: 10px;
          }
        }
        .name, .name_en, .email {
          margin-bottom: 10px;
        }
        .name {
          font-family: 'Pretendard';
          font-weight: 600;
          font-size: 28px;
          letter-spacing: -0.12em;
        }
        .name_en {
          font-family: 'Montserrat';
          font-weight: 300;
          font-size: 16px;
          letter-spacing: -0.05em;
        }
        .email {
          font-family: 'Montserrat';
          font-weight: 400;
          font-size: 16px;
          color: #B9B9B9;
        }
      }
      .teamlink {
        align-self: start;
        justify-self: end;
        img {
          width: 180px;
	        height: 40px;
        }
      }
    }
    @include mobile {
      .profile_img > img {
        width: 150px;
        height: 220px;
      }
      .profile_cont {
        flex-direction: column-reverse;
        margin-left: 20px;
        .profile_txt {
          margin-left: 0;
          align-self: flex-start;
          .sns {
            margin-bottom: 15px;
            img {
              width: 8px;
              height: 8px;
            }
            span {
              font-size: 12px;
              margin-left: 2px;
            }
          }
          .name, .name_en, .email {
            margin-bottom: 5px;
          }
          .name {
            font-size: 16px;
          }
          .name_en {
            font-size: 12px;
          }
          .email {
            font-size: 10px;
          }
        }
        .teamlink {
          align-self: start;
          justify-self: end;
          img {
            width: 125px;
            height: 30px;
          }
        }
      }
    }
  }
}

/*  CONCEPT */
.concept {
  .inner {
    .sub-title{
      width: 274px;
      height: 25px;
      font-family: 'Montserrat';
      font-weight: 300;
      font-size: 1.5em;
      letter-spacing: -0.12em;
      margin-top: 100px;
    }
    .title {
      position: relative;
      height: 60px;
      margin-top: 15px;
      font-family: 'Pretendard';
      font-weight: 900;
      font-size: 3.8em;
      img {
        position: absolute;
        width: 830px;
        top: -32px;
        left: -156px;
        @include mobile {
          display: none;
        }
      }
    }
    .title_e {
      position: relative;
      height: 60px;
      margin-top: 15px;
      font-family: 'Montserrat';
      font-weight: 900;
      font-size: 3.8em;
      img {
        position: absolute;
        width: 830px;
        top: -32px;
        left: -156px;
        @include mobile {
          display: none;
        }
      }
    }
    .desc {
      margin-top: 65px;
      font-family: 'Pretendard';
      font-weight: 400;
      font-size: 1.1em;
      line-height: 160%;
      display: flex;
      align-items: center;
      text-align: justify;
    }
    @include tablet{
      .title{font-size: 50px;}
    }
    @include mobile {
      .sub-title {font-size: 15px; margin-top: 50px;}
      .title {font-size: 40px; margin-top: 0px; height: 100px;}
      .desc {font-size: 14px; margin-top: 180px;}
    }
  }
}

/* POSTER */
.poster {
  margin-top: 170px;
  height: 600px;
  .inner {
    display: flex;
    justify-content: space-between;
    .txt {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
        position: relative;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 3.8em;
        letter-spacing: -0.12em;
        img {
          position: absolute;
          width: 755px;
          top: 30px;
          left: -110px;
          @include mobile {
            display: none;
          }
        }
      }
      .sub-title {
        width: 58px;
        height: 36px;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 0.8em;
        letter-spacing: -0.12em;
      }
      .desc {
        div {
          &:nth-child(1) {
            margin-top: 50%;
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 0.8em;
            letter-spacing: -0.12em;
            color: #8F8F8F;
          }
          &:nth-child(2) {
            font-weight: 700;
            font-size: 1.8em;
            margin-bottom: 20px;
            margin-top: 5px;
          }
          &:nth-child(3) {
            width: 500px;
            margin-bottom: 0px;
            font-family: 'Pretendard';
            font-weight: 400;
            font-size: 1.1em;
            line-height: 160%;
            text-align: justify;
          }
        }
      }
    }
    .img {
      align-self: end;
      img {
        width: 346px;
        height: 493px;
        object-fit: cover;
      }
    }
  }
  @include tablet {
    .inner {
      .txt {
        .desc {
          div:nth-child(3) {
            width: 50vw;
          }
        }
      }
      .img {
        img {
          width: calc(346px / 1.5);
          height: calc(493px / 1.5);
        }
      }
    }
  }
  @include mobile {
    margin-top: 80px;
    .inner {
      flex-direction: column;
      gap: 10px;
      .txt {
        align-items: start;
        .title {
          font-size: 45px;
        }
        .sub-title {
          font-size: 10px;
        }
        .desc {
          div {
            &:nth-child(1) { margin-top: 30px; }
            &:nth-child(2) {
              font-size: 1.8em;
              margin-bottom: 10px;
              margin-top: 5px;
            }
            &:nth-child(3) {
              width: 100%;
              font-size: 14px;
              line-height: 130%;
            }
          }
        }
      }
      .img {
        align-self: center;
        margin-top: 30px;
        img {
          width: calc(346px / 1.5);
          height: calc(493px / 1.5);
        }
      }
    }
  }
}

/* INTER */
.inter {
  margin-top: 170px;
  .inner {
    .top {
      height: 800px;
      display: flex;
      justify-content: space-between;
      position: relative;
      .txt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
          position: relative;
          font-family: 'Montserrat';
          font-weight: 700;
          font-size: 3.8em;
          letter-spacing: -0.12em;
          img {
            position: absolute;
            width: 646px;
            top: 30px;
            left: 690px;
            @include tablet {
              display: none;
            }
            @include mobile {
              display: none;
            }
          }
        }
        .sub-title {
          width: 58px;
          height: 36px;
          font-family: 'Montserrat';
          font-weight: 400;
          font-size: 0.8em;
          letter-spacing: -0.12em;
        }
        .desc {
          div {
            &:nth-child(1) {
              font-family: 'Montserrat';
              font-weight: 600;
              font-size: 0.8em;
              letter-spacing: -0.12em;
              color: #8F8F8F;
            }
            &:nth-child(2) {
              font-weight: 700;
              font-size: 1.8em;
              margin-bottom: 20px;
              margin-top: 5px;
              span {
                font-family: 'Montserrat';
              }
            }
            &:nth-child(3) {
              width: 480px;
              margin-bottom: 0px;
              font-family: 'Pretendard';
              font-weight: 400;
              font-size: 1.1em;
              line-height: 160%;
              text-align: justify;
            }
          }
          .view-map {
            margin-top: 20px;
            width: 480px;
            overflow: auto;
            display: flex;
            gap: 13px;
            img {
              width: 293px;
              height: 173px;
            }
          }
        }
      }
      .btn-modal__open {
        z-index: 10;
        cursor: pointer;
        position: absolute;
        top: 240px;
        left: 420px;
        img {
          filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.09));
        }
      }
      .img {
        align-self: end;
        img {
          width: 410px;
          height: 583px;
          object-fit: cover;
        }
        &:hover {
          z-index: 9;
          img {
            animation: scoll 5s infinite ease-in-out;
          }
        }
        @keyframes scoll {
          0% {
            object-position: 20%;
          }
          50% {
            object-position: 80%;
          }
          100% {
            object-position: 20%;
          }
        }
      }
    }
    .examples {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      .example {
        width: 293px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        img {
          width: 293px;
          height: 173px;
        }
        p {
          width: 293px;
        }
      }
    }
  }
  @include tablet {
    margin-top: 80px;
    .inner {
      .top {
        flex-direction: column;
        height:fit-content;
        gap: 20px;
        .txt {
          align-items: start;
          justify-content:flex-start;
          .title {
            font-size: 45px;
          }
          .sub-title {
            font-size: 10px;
          }
          .desc {
            width: 100%;
            div {
              width: 100%;
              &:nth-child(1) { margin-top: 30px; }
              &:nth-child(2) {
                font-size: 1.8em;
                margin-bottom: 10px;
                margin-top: 5px;
              }
              &:nth-child(3) {
                width: 100%;
                font-size: 14px;
                line-height: 130%;
              }
            }
            .view-map {
              width: 100%;
              img {
                width: 200px;
                //height:fit-content;
              }
            }
          }
        }
        .btn-modal__open {
          z-index: 10;
          cursor: pointer;
          position: absolute;
          top: 680px;
          left: calc(100vw - 200px);
          img {
            width: 100px;
          }
        }
        .img {
          width: 100%;
          align-self: start;
          img {
            width: 100%;
            height: 300px;
            object-fit: cover;
          }
          p {
            width: 100%;
          }
        }
      }
      .examples {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        overflow: scroll;
        .example {
          width: calc(100% /3);
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 20px;
          img {
            width: 100%;
            height: fit-content;
          }
          p {
            width:100%;
            font-size: 12px;
          }
        }
      }
    }
  }
  @include mobile {
    margin-top: 80px;
    .inner {
      .top {
        flex-direction: column;
        height:fit-content;
        gap: 20px;
        .txt {
          align-items: start;
          justify-content:flex-start;
          .title {
            font-size: 45px;
          }
          .sub-title {
            font-size: 10px;
          }
          .desc {
            width: 100%;
            div {
              width: 100%;
              &:nth-child(1) { margin-top: 30px; }
              &:nth-child(2) {
                font-size: 1.8em;
                margin-bottom: 10px;
                margin-top: 5px;
              }
              &:nth-child(3) {
                width: 100%;
                font-size: 14px;
                line-height: 130%;
              }
            }
            .view-map {
              width: 100%;
              height: 100%;
              img {
                width: calc(100% / 2 - 10px);
                height: calc(100% / 2 - 10px);
              }
            }
          }
        }
        .btn-modal__open {
          z-index: 10;
          cursor: pointer;
          position: absolute;
          top: 680px;
          left: calc(100% - 80px);
          img {
            width: 100px;
          }
        }
        .img {
          align-self: start;
          img {
            width: 100%;
            height: 300px;
            object-fit: cover;
          }
        }
      }
      .examples {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        overflow: scroll;
        .example {
          display: flex;
          flex-direction: column;
          gap: 10px;
          img {
            width: calc(293px / 1.8);
            height: calc(173px / 1.8);
          }
          p {
            width: calc(293px / 1.8);
            font-size: 12px;
          }
        }
      }
    }
  }
}

/* INTER-MODAL */
.modal-cont {
  display: none;
  z-index: 999;
  background: rgba(34, 31, 31, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .modal-inner {
    width: 825px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    iframe {
      width: 825px;
      height: 450px;
    }
  }
  .btn-modal__close {
    cursor: pointer;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,0);
  }

  @include mobile {
    width: 100%;
    height: 100%;
    .modal-inner {
      width: 100%;
      position: none;
      display: flex;
      align-items: center;
      justify-content: center;
      iframe {
        width: 80%;
      }
    }
    .btn-modal__close {
      top: 70%;
      height: 40px;
    }
  }
}


/* BTM-NAVI */
.btm-navi {
  margin-top: 100px;
  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    .prev, .next {
      img {
        height: 76px;
      }
    }
    @include mobile {
      gap: 20px;
      .prev, .next {
        img {
          height: 40px;
        }
      }
    }
  }
}

/* FOOTER */
footer {
  margin-top: 120px;
  @include mobile {
    margin-top: 50px;
  }
}