@charset "UTF-8";
@import "responsive";

/* COMMON */
* {
  list-style: none;
  font-family: 'Montserrat';
	font-style: normal;
}
a {
  text-decoration: none;
  display: block;
  color: #000;
}
.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  .inner {
    z-index: 1;
    width: 930px;
    padding: 40px 60px;
    @include mobile { 
      width: calc(100% - 90px);
      padding: 20px 30px;
    }
  }
}


/* BACKGROUND */
#background {
  opacity: .5;
  img {
    position: absolute;
    width: 550px;
    right: -40px;
    top: 190px;
  }
  @include mobile {
    display: none;
  }
}

/* PAGE-TOP */
.page-top{
  align-items: flex-end;
	width: 100%;
	height: 300px;
  line-height: 100%;
  margin-bottom: 50px;
  @include mobile {
    height: 100px;
    margin-bottom: 0;
  }
  .inner {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    .txt1 {
      font-size: 1em;
      letter-spacing: 0.125em;
      margin-bottom: 30px;
    }
    .txt2 {
      font-size: 2.7em;
      letter-spacing: 0.13em;
      span {
        margin-left: 25px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 0.4em;
        letter-spacing: 0.125em;
      }
    }
    @include mobile {
      .txt1 {font-size: 0.5em; margin-bottom: 15px;}
      .txt2 {
        font-size: 2em;
        span {display: none;}
      }
    }
  }
}

/* MEMBER-LIST */
.member-list {
  .inner {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px;
    column-gap: 50px;
    .card {
      background-color: #fff;
      filter: drop-shadow(5px 6px 17px rgba(206, 192, 192, 0.25));
      .img-body {
        height: 240px;
        position: relative;
        img {
          width: 100%;
          height: 240px;
          position: absolute;
          object-fit: cover;
          transition: .4s;
          &:hover {
            opacity: 0;
          }
        } 
      }
      .body {
        padding: 25px;
        .title {
          font-weight: 700;
          font-size: 1.1em;
          span {
            font-family: 'Montserrat' ;
          }
        }
        .text {
          margin-top: 10px;
          font-family: 'Pretendard';
          font-weight: 300;
          font-size: 0.7em;
          letter-spacing: 0.3em;
        }
        .profile {
          display: flex;
          margin: 25px 0 10px 0;
          align-items: center;
          font-size: 1em;
          color: #000000;
          img {
            object-fit: cover;
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          span {
            font-weight: 300;
            margin-left: 10px;
            b {
              font-weight: 700;
            }
          }
        }
      }
    }
    @include tablet {
      grid-template-columns: repeat(2,1fr);
    }
    @include mobile {
      grid-template-columns: repeat(2,1fr);
      row-gap: 30px;
      column-gap: 15px;
      .card {
        background-color: #fff;
        filter: drop-shadow(5px 6px 17px rgba(206, 192, 192, 0.25));
        .img-body {
          height: 120px;
          position: relative;
          img {
            width: 100%;
            height: 120px;
          } 
        }
        .body {
          position: relative;
          height: 60px;
          padding: 10px;
          .title {
            font-size: 0.9em;
            font-weight: 700;
          }
          .text {
            display: none;
          }
          .profile {
            position: absolute;
            bottom: 10px;
            margin: 10px 0 0;
            font-size: 1em;
            img {
              width: 20px;
              height: 20px;
            }
            span {
              margin-left: 10px;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

/* FOOTER */
footer {
  margin-top: 130px;
  @include mobile {
    margin-top: 50px;
  }
}