@import "reset";
@import "responsive";
@import url("https://use.typekit.net/sgl5rfs.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
@import url('http://fonts.cdnfonts.com/css/quenos');

/* COMMON */
body {
  background-image: url('../img/background.png');
  overflow-x: hidden !important;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
}
.title_e {
  font-family: 'Montserrat' !important;
}


/* MENU */
#menu-cont {
  display: none;
  background: rgba(175, 175, 175, 0.7);
  backdrop-filter: blur(6px);
  width: 100vw;
  height: 100vh;
  z-index: 99;
  position: fixed;
  top: 0;
  >div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 95px);
    img {
      align-self: end;
      margin: 46px 82px 0 0;
      cursor: pointer;
    }
    .inner {
      width: calc(100% - 300px);
      max-width: 1200px;
      height: 100%;
      display: flex;
      align-items: center;
      #menu-list {
        a {
          margin-bottom: 15px;
          display: block;
          color: #000;
          text-decoration: none;
          span {
            font-style: normal;
            font-weight: 600;
            &:first-child {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 700;
              font-size: 90px;
              letter-spacing: -0.045em;
            }
            &:last-child {
              margin-left: 15px;
              font-family: 'Pretendard';
              font-size: 14px;
            }
            transition: .2s;
          }
          &:hover {
            color: #F24822;
          }
        }
      }
    }
    @include tablet {
      .inner {
        #menu-list {
          a {
            span { 
              &:first-child{
                font-size: 60px; 
              }
            }
          }
        }
      }
    }
    @include mobile { 
      img { margin: 50px 40px 0 0;}
      .inner {
        width: calc(100% - 90px);
        height: 100%;
        display: flex;
        align-items: center;
        #menu-list {
          a {
            margin-bottom: 30px;
            display: block;
            color: #000;
            text-decoration: none;
            span {
              font-style: normal;
              font-weight: 600;
              &:first-child {
                font-size: 40px;
              }
              &:last-child { display: none; }
              transition: .2s;
            }
            &:hover {
              color: #F24822;
            }
          }
        }
      }
    }
  }
}

header {
  z-index: 66;
  display: flex;
  justify-content: center;
  height: 120px;
  width: 100%;
  margin-bottom: 20px;
  .header-inner {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 180px);
    @include mobile {
      width: calc(100% - 90px);
    }
    max-width: 1300px;
    #logo {
      height: 22px;
    }
    div {
      display: flex;
      a {
        display: block;
        #catalogue {
          @include mobile {
            display: none;
          }
          margin-right: 20px;
          height: 26px;
        }
      }
      #menu {
        cursor: pointer;
        height: 24px;
      }
    }
  }
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .main-svg_container {
    display: flex;
    justify-content: center;
    width: 95vw;
  }
}

#bubble {
  z-index: 66;
}

footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  .inner {
    display: flex;
    width: calc(100% - 180px);
    max-width: 1400px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    img {
      width: 120px;
    }
    p:first-child {
      margin-bottom: 10px;
      font-weight: 700;
    }
    @include tablet {
      div:nth-child(2) { display: none; }
    }
    @include mobile {
      width: calc(100%);
      margin-bottom: -100px;
      img { width: 50px; }
      div:nth-child(2) { display: none; }
      div { font-size: 10px; }
    }
  }
}

.fp-watermark {
  display: none !important;
}

.mobile {
  display: none;
  z-index: 999;
  width: 110vw;
  height: 110vh;
  background-color: bisque;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 2vw;
  p {
    position: absolute;
    top: 40%;
    width: 100%;
  }
}