@charset "UTF-8";
/*반응형 화면 크기*/ /* COMMON */
* {
  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  display: block;
  color: #000;
}

.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.section .inner {
  z-index: 1;
  width: 930px;
  padding: 40px 60px;
}
@media (max-width: 600px) {
  .section .inner {
    width: calc(100% - 90px);
    padding: 20px 30px;
  }
}

/* BACKGROUND */
#background {
  opacity: 0.5;
}
#background img {
  position: absolute;
  width: 550px;
  right: -40px;
  top: 190px;
}
@media (max-width: 600px) {
  #background {
    display: none;
  }
}

/* PAGE-TOP */
.page-top {
  align-items: flex-end;
  width: 100%;
  height: 300px;
  line-height: 100%;
}
@media (max-width: 600px) {
  .page-top {
    height: 100px;
    margin-bottom: 0;
  }
}
.page-top .inner {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
}
.page-top .inner .txt1 {
  font-size: 1em;
  letter-spacing: 0.125em;
  margin-bottom: 30px;
}
.page-top .inner .txt2 {
  font-size: 2.7em;
  letter-spacing: 0.13em;
}
.page-top .inner .txt2 span {
  margin-left: 25px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 0.4em;
  letter-spacing: 0.125em;
}
@media (max-width: 600px) {
  .page-top .inner .txt1 {
    font-size: 0.5em;
    margin-bottom: 5px;
  }
  .page-top .inner .txt2 {
    font-size: 2em;
    line-height: 100%;
  }
  .page-top .inner .txt2 span {
    display: none;
  }
}

/* BTN-AREA */
.btn-area .inner {
  display: flex;
  justify-content: flex-end;
}
.btn-area .inner img {
  cursor: pointer;
  width: 180px;
  height: 40px;
}
@media (max-width: 600px) {
  .btn-area .inner img {
    width: 125px;
    height: 30px;
  }
}

/* TEAM-SLIDE */
.team-slide {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team-slide .inner {
  display: flex;
  justify-content: space-between;
}
.team-slide .inner .side-menu {
  width: 120px;
  margin: 80px 0;
}
.team-slide .inner .side-menu .team_name {
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-style: normal;
  cursor: pointer;
}
.team-slide .inner .side-menu .team_name span {
  display: none;
}
.team-slide .inner .side-menu .team_name img {
  width: 10px;
  padding: 5px;
}
.team-slide .inner .side-menu .selected span {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 5px 10px;
}
.team-slide .inner .side-menu .selected img {
  display: none;
}
.team-slide .inner .contents {
  width: 100%;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-slide .inner .contents .team-cont {
  display: none;
}
.team-slide .inner .contents .team-cont .team-cont__img {
  height: 400px;
  position: relative;
}
.team-slide .inner .contents .team-cont .team-cont__img img {
  width: 650px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.team-slide .inner .contents .team-cont .team-cont__img img:hover {
  opacity: 0;
}
.team-slide .inner .contents .team-cont hr {
  margin: 10px 0;
  width: 650px;
  border: 0.5px solid #000;
}
.team-slide .inner .contents .team-cont .tl {
  display: flex;
  width: 650px;
}
.team-slide .inner .contents .team-cont .tl .tnt {
  margin-right: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
}
.team-slide .inner .contents .team-cont .tl .tn {
  margin-right: 4px;
  font-family: "Pretendard";
  font-style: normal;
}
.team-slide .inner .contents .showing {
  display: block;
}
@media (min-width: 601px) and (max-width: 1024px) {
  .team-slide .inner {
    display: flex;
    flex-direction: column;
  }
  .team-slide .inner .side-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
  }
  .team-slide .inner .side-menu .team_name {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .team-slide .inner .side-menu .team_name img {
    width: 8px;
    padding: 10px;
  }
  .team-slide .inner .side-menu .selected span {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 10px 10px;
  }
  .team-slide .inner .side-menu .selected img {
    display: none;
  }
  .team-slide .inner .contents {
    flex-direction: column;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  .team-slide .inner .contents .team-cont {
    display: none;
  }
  .team-slide .inner .contents .team-cont .team-cont__img {
    height: 333.3333333333px;
    position: relative;
  }
  .team-slide .inner .contents .team-cont .team-cont__img img {
    width: 541.6666666667px;
    height: 333.3333333333px;
  }
  .team-slide .inner .contents .team-cont hr {
    margin: 10px 0;
    width: 541.6666666667px;
    border: 0.5px solid #000;
  }
  .team-slide .inner .contents .team-cont .tl {
    display: flex;
    width: 541.6666666667px;
    font-size: 12px;
  }
  .team-slide .inner .contents .team-cont .tl .tnt {
    margin-right: 10px;
  }
  .team-slide .inner .contents .team-cont .tl .tn {
    margin-right: 10px;
  }
  .team-slide .inner .contents .showing {
    display: block;
  }
}
@media (max-width: 600px) {
  .team-slide .inner {
    display: flex;
    flex-direction: column;
  }
  .team-slide .inner .side-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
  }
  .team-slide .inner .side-menu .team_name {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .team-slide .inner .side-menu .team_name img {
    width: 8px;
    padding: 10px;
  }
  .team-slide .inner .side-menu .selected span {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 10px 10px;
  }
  .team-slide .inner .side-menu .selected img {
    display: none;
  }
  .team-slide .inner .contents {
    flex-direction: column;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  .team-slide .inner .contents .team-cont {
    display: none;
  }
  .team-slide .inner .contents .team-cont .team-cont__img {
    height: 200px;
    position: relative;
  }
  .team-slide .inner .contents .team-cont .team-cont__img img {
    width: 325px;
    height: 200px;
  }
  .team-slide .inner .contents .team-cont hr {
    margin: 10px 0;
    width: 325px;
    border: 0.5px solid #000;
  }
  .team-slide .inner .contents .team-cont .tl {
    display: flex;
    width: 325px;
    font-size: 12px;
  }
  .team-slide .inner .contents .team-cont .tl .tnt {
    margin-right: 10px;
  }
  .team-slide .inner .contents .team-cont .tl .tn {
    margin-right: 10px;
  }
  .team-slide .inner .contents .showing {
    display: block;
  }
}

/* FOOTER */
footer {
  margin-top: 130px;
}
@media (max-width: 600px) {
  footer {
    margin-top: 50px;
  }
}/*# sourceMappingURL=teams.css.map */