@import "responsive";

/* COMMON */
* {
  list-style: none;
  font-family: 'Montserrat';
	font-style: normal;
}
body {
  position: relative;
}
a {
  text-decoration: none;
  display: block;
  color: #000;
}
.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  .inner {
    z-index: 1;
    width: 930px;
    padding: 40px 60px;
    @include mobile { 
      width: calc(100% - 90px);
      padding: 20px 30px;
    }
  }
}

#team-member, #concept, #team-film, #team-inter {
  min-height: 100vh;
  @include mobile {
    min-height: fit-content;
    margin-bottom: 80px;
  }
  @include mobile {
    min-height: fit-content;
    margin-bottom: 40px;
  }
}

/* SIDE BAR */
.side-bar {
  z-index: 9;
  display: flex;
  height: 100vh;
  align-items: center;
  position: fixed;
  .inner {
    margin-top: 700px;
    margin-left: 95px;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    text-align: right;
    a {
      margin-bottom: 20px;
      img {
        width: 10px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .tooltip {
      position: relative;
      &::before {
        content: attr(data-title);
        display: block;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transform: translate3d(-20px,0,0);
        transition: all .15s ease-in-out;
        background: rgba(0,0,0);
        color: #fff;
        font-size: 14px;
        padding: 6px 10px;
        top: -5px;
        left: 0;
        white-space: nowrap;
      }
      &:hover:before {
        opacity: 1;
        transform: translate3d(0,0,0);
      }
    }
  }
  .scroll {
    position: fixed;
    top: 80%;
    right: 95px;
    img {
      height: 90px;
      animation: floating .8s infinite alternate;  
    }
    @keyframes floating{
      0%{transform:translate(0,0);}
      100%{transform:translate(0,30px);}
    }  
  }
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }
}

/* PAGE-TOP */
#page-top{
  align-items: flex-end;
	width: 100%;
	height: 300px;
  line-height: 100%;
  margin-bottom: 100px;
  @include mobile {
    height: 100px;
    margin-bottom: 0;
  }
  .inner {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    .txt1 {
      font-size: 1em;
      letter-spacing: 0.125em;
      margin-bottom: 30px;
    }
    .txt2 {
      font-size: 2.7em;
      letter-spacing: 0.13em;
      span {
        margin-left: 25px;
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 600;
        font-size: 0.4em;
        letter-spacing: 0.125em;
      }
    }
    @include mobile {
      .txt1 {font-size: 0.5em; margin-bottom: 15px;}
      .txt2 {
        font-size: 2em;
        line-height: 100%;
        span {display: none;}
      }
    }
  }
}

/* TEAM-MEMBER */
#team-member {
  .inner {
    display: flex;
    justify-content: center;
    .profile_cont {
      width: 635px;
      display: grid;
      gap: 45px;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      .profile {
        img {
          width: 200px;
          height: 285px;
          object-fit: cover;
          @include tablet {
            width: 100%;
            height: fit-content;
          }
        }
        .name {
          margin-top: 10px;
        }
      }
    }
  }
  @include mobile {
    .inner {
      width: 100%;
      .profile_cont {
        margin: 0 40px;
        column-gap:10px;
        row-gap: 20px;
        .profile {
          img {
            width: calc(200px / 2);
            height: calc(285px / 2);
            object-fit: cover;
          }
          .name {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

/* CONCEPT */
#concept {
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/teams/team_logo.svg");
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 50% 30%;
    .sub-title {
      font-family: 'Montserrat';
      font-weight: 300;
      font-size: 1.6em;
      letter-spacing: -0.12em;
      color: #000000;
    }
    .title {
        font-family: 'Pretendard';
        font-weight: 700;
        font-size: 4em;
        letter-spacing: -0.06em;
        color: #000000;
        margin-top: 15px;
        margin-bottom: 50px;
    }
    .txt {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        text-align: justify;
        color: #000000;
    }
    @include mobile {
      .sub-title {font-size: 15px; margin-top: 50px;}
      .title {font-size: 45px; margin-top: 0px; text-align: center;}
      .txt {font-size: 14px; margin-top: 20px;}
    }
  }
}

/* TEAM-FILM, TEAM-INTER */
#team-film, #team-inter {
  .inner {
    position: relative;
    width: 700px;
    video{
      width: 700px;
    }
    hr {
      color: #000;
      margin-top: 20px 0;
    }
    .btn-modal__open {
      z-index: 10;
      cursor: pointer;
      position: absolute;
      top: 320px;
      left: 650px;
      img {
        filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.09));
      }
    }
    @include tablet {
      width: 100%;
      margin-top: 50px;
      video {
        width: 100%;
      }
      hr {
        color: #000;
        margin-top: 20px 0;
      }
      .tn {
        font-size: 14px;
      }
      .btn-modal__open {
        display: none;
      }
    }
    @include mobile {
      width: 100%;
      margin-top: 50px;
      video {
        width: 100%;
      }
      hr {
        color: #000;
        margin-top: 20px 0;
      }
      .tn {
        font-size: 14px;
      }
      .btn-modal__open {
        display: none;
      }
    }
  }
}

#team-film {
  .film-desc {
    display: none;
    margin-top: 40px;
    line-height: 160%;
    @include tablet {
      display: block;
      font-size: 16px;
    }
    @include mobile {
      display: block;
      font-size: 14px;
    }
  }
}

#team-inter {
  .inter-desc {
    display: none;
    @include tablet {
      display: block;
      font-size: 16px;
    }
    @include mobile {
      display: block;
      font-size: 14px;
    }
    .desc {
      margin: 40px 0;
      line-height: 160%;
    }
    .photo-cont {
      .inter-viewmap {
        margin-bottom: 20px;
        div {
          display: flex;
          gap: 24px;
          img {
            max-width: calc(100% / 3.3);
          }
        }
      }
      .inter-example {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        div {
          img {
            max-width: 100%;
          }
          p {
            max-width: 100%;
            margin-top: 10px;
            line-height: 130%;
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

/* MODAL-CONT */
.modal-back {
  display: none;
  z-index: 53;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
}
.modal-cont {
  color: #000;
  z-index: 55;
  width: 65%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #a093bfee;
  margin-right: -80vw;
  .modal-inner {
    padding: 70px 120px 70px 120px;
    .btn-modal__close {
      cursor: pointer;
      float: right;
      width: 100%;
      height: 100px;
      text-align: right;
    }
    .title-cont {
      .title {
        font-family: 'Pretendard';
        font-weight: 700;
        font-size: 4em;
        color: #2f1177;
      }
      div:last-child {
        margin-top: 10px;
        display: flex;
        align-items: baseline;
        gap: 20px;
        .team {
          font-size: 2em;
          font-family: 'Montserrat';
          font-weight: 600;
          span {
            margin-left: 5px;
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 0.6em;
          }
        }
        .members {
          font-family: 'Montserrat';
          font-weight: 500;
          font-size: 1.1em;
        }
      }
    }
    .desc {
      margin-top: 90px;
      font-family: 'Pretendard';
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      text-align: justify;
    }
    hr {
      border: .5px solid #000;
      margin: 40px 0;
    }
    .btm {
      display: flex;
      gap: 40px;
      >span {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 15px;
        line-height: 117%;
      }
      .profile_btn_cont {
        a {
          display: inline;
          cursor: pointer;
          background: #fff;
          padding: 2px 5px;
          margin-right: 5px;
          &:hover {
            color: #fff;
            background: #8871bf;
          }
        }
      }
    }
  }
}
.inter-modal {
  .modal-inner {
    .imsi {
      .title-cont {
        margin-bottom: 30px;
      }
      padding-right: 20px;
      height: 500px;
      overflow: scroll;
      .desc {
        margin-top: 50px;
      }
      hr {
        margin: 40px 0;
      }
      .photo-cont {
        .inter-viewmap {
          margin-bottom: 80px;
          div {
            display: flex;
            gap: 24px;
            img {
              max-width: 210px;
            }
          }
        }
        .inter-example {
          display: flex;
          justify-content: space-between;
          gap: 24px;
          div {
            img {
              max-width: 210px;
            }
            p {
              max-width: 210px;
              margin-top: 10px;
              line-height: 130%;
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}


/* BTM-NAVI */
.btm-navi {
  margin-top: 100px;
  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    .prev, .next {
      img {
        height: 76px;
      }
    }
  }
  @include mobile {
    margin-top: 50px;
    .inner {
      gap: 20px;
      .prev, .next {
        img {
          height: 40px;
        }
      }
    }
  }
}

/* FOOTER */
footer {
  margin-top: 130px;
  @include mobile {
    margin-top: 50px;
  }
}



/////
.tn {
  font-family: 'Montserrat';
	font-style: normal;
}
.v_info {
  z-index: 100;
  width: 65%;
  height: 100%;
  background-color: #A093BF;
  position: fixed;
  top: 0;
  transition: 0.7s ease-in;
  overflow: hidden;
}
.in_inner {
    padding: 10%;
    display: flex;
    flex-direction: column;
}
.close>img {
    float: right;
}
.in_title {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 100%;
    /* identical to box height, or 70px */
}
.in_pro {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
}
.in_tn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 117%;
    margin-right: 20px;
    color: #000000;
}
.in_n {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 117%;
    color: #000000;
    margin-right: 4px;
}
.in_ex{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-top: 80px;
    text-align: justify;
    color: #000000;
}
.in_pro_btn {
    display: flex;
}
.in_p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 117%;
    /* identical to box height, or 18px */

    margin-right: 80px;
    color: #000000;
}
.in_link {
    display: flex;
}

.inter {
    margin-top: 300px;
}
.inter_down {
	height: 177px;
    display: flex;
    flex-wrap: nowrap;
}
.in_jo {
    display: flex;
    height: 143px;
}
.in_jo>img {
    margin-right: 30px;
}
.in_ob {
    margin-top: 20px;
    margin-bottom: 20px;
}
.in_img {
    display: flex;
    height: 130px;
    justify-content: space-between;
}
.in_info {
  display: none;
  width: 65%;
  height: 100%;
  background-color: #A093BF;
  position: fixed;
  top: 0;
  transition: 0.7s ease-in;
  overflow: hidden;
}